@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -70px);
    -ms-transform: translate(0, -70px);
    transform: translate(0, -70px);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate(-70px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate(70px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes paperUp {
  0% {
    opacity: 0;
    transform: rotate(5deg) translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
