header {
  .nav-bg {
    background-color: $color-grey-bg;
    padding: 0;
    margin-top: 40px;
  }
  p {
    text-align: center;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      li {
        margin: 0 15px;
        a {
          position: relative;
        }
        a.active::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -4px;
          transform: translate(-50%, 0);
          width: 90%;
          height: 2px;
          background-color: $color-pink;
          animation: growX 0.4s ease-in;
        }
      }
      .dropdown {
        display: flex;
        align-items: center;
        #dropdownMenuButton {
          background-color: unset;
          border: unset;
          padding: 0;
        }
        .dropdown-item {
          @include transition(0.4s);
          color: $color-white;
          &:hover {
            background-color: $color-pink;
          }
        }
        .dropdown-item.active {
          background-color: $color-pink;
          &::after {
            content: unset;
          }
        }
        .dropdown-menu {
          opacity: 0;
          display: initial;
          padding: unset;
          background-color: $color-black;
          @include transition(0.4s);
        }
        .dropdown-menu.show {
          opacity: 1;
          transform: unset;
        }
      }
    }
    form {
      button {
        background: unset;
        border: unset;
        i {
          color: $color-white;
          @include transition(0.4s);
          &:hover {
            color: $color-pink;
            transform: scale(1.2);
          }
        }
      }
      input {
        background: unset;
        border: unset;
        color: $color-white;
        &::placeholder {
          color: $color-white;
        }
      }
    }
  }
}
